.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading div {
  width: 30vw;
  height: 1px;
  background-color: rgba(39, 39, 39, 0.274);
}
.heading p {
  color: rgb(77, 77, 77);
  margin: 3vmax;
  font-weight: 100;
  font-size: 2.5vmax;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
