    .HotAccessroiesMenu{
        display: flex;
        justify-content:center;
    }
    .HotAccessoriesLink{
        text-decoration: none;
        color: rgba(94,94,94,1);
        padding: 0.5vmax 0;
        margin: 1vmax;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        transition: all 0.3s;
    }
    .HotAccessoriesLink:hover{
        color: orangered;
        border-bottom: 1px solid rgb(240, 105, 56);
    }
