.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1vmax;
    background-color: white;
    border-bottom: 1px solid rgba(43,43,43,0.137);
    z-index: 1000;
}
.logo{
    background-color: orangered;
    width: 58px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    right: 2vmax;
}
#logoImage{
    transform: translateX(-58px);
    transition: all 0.5ms;
}
#logoImage:hover{
    transform: translateX(0);
}
.navlinks{
    color: rgb(59, 59, 59);
    text-decoration: none;
    margin: 1vmax 1.2vmax;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    transition: all 0.3s ease-in;
}
.navlinks:hover{
    color: orangered;
}
.searchbox{
    position: relative;
    left: 5vmax;
}
.searchbox>input{
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.7);
    outline: none;
    font-size: 1.3vmax;
    width: 15vmax;
    color: rgb(61, 61, 61);
    font-weight: 100;
}
.searchbox>svg{
    font-size: 1.2vmax;
    fill: rgb(61, 61, 61);
}
